html {
  position: relative;
  min-height: 100%; }

body {
  background-image: url(/public/img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Vollkorn, sans-serif;
  margin-bottom: 75px; }

.header {
  margin-top: 60px;
  background: rgba(230, 230, 250, 0.4);
  font-size: 80%;
  font-weight: bold; }

.guide {
  background: lavender;
  background: rgba(230, 230, 250, 0.4);
  padding: 2em;
  margin-top: 25px; }

.about {
  background: lavender;
  background: rgba(230, 230, 250, 0.4);
  padding: 2em;
  margin-top: 25px; }

.main {
  background: #423842;
  background: rgba(66, 56, 66, 0.9);
  padding-top: 2em;
  margin-top: 25px;
  color: #fef6ea;
  color: rgba(254, 246, 234, 0.8); }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #51454c;
  color: #e7e7e7;
  padding-top: 5px; }
  .footer img {
    margin-right: 5px;
    margin-bottom: 5px; }
  .footer .fa {
    margin-top: 3px; }

.logo-front {
  margin-bottom: 30px; }

@media (max-width: 990px) {
  .maintitle {
    text-align: center;
    margin-left: 0;
    margin-top: 0; }
  .sidebar {
    display: none; } }

.spaaace {
  margin-bottom: -25px; }

.info {
  margin-bottom: 50px; }

.whowhatwhy {
  padding-top: 2em;
  color: #362f35; }

.img-thumbnail {
  margin: 10px; }

h1 {
  font-family: Quando, cursive;
  font-size: 280%;
  color: #796878; }

h2 {
  font-family: Vollkorn, sans-serif;
  font-size: 240%;
  color: #796878; }

h3 {
  font-family: Vollkorn, sans-serif;
  color: #796878;
  font-size: 200%; }

h4 {
  font-family: Vollkorn, sans-serif;
  font-size: 150%;
  margin-top: -5px;
  margin-bottom: 20px; }

h6 {
  font-family: Vollkorn, sans-serif;
  letter-spacing: 2px; }

a {
  color: #a674a3; }
  a:hover {
    color: #888; }
  a:focus {
    color: #888; }

.guide-link {
  color: #302230;
  font-weight: bold;
  text-decoration: underline; }

.special {
  font-size: 150%; }

.center-block {
  float: none; }

pre {
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word; }

code {
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word; }

.btn-home {
  color: #dad1d9;
  background-color: #423842;
  background-color: rgba(66, 56, 66, 0.8);
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 5px; }
  .btn-home:hover {
    color: #423842;
    background-color: #8a496b; }
  .btn-home:focus {
    color: #423842;
    background-color: #8a496b; }
  .btn-home:active {
    color: #423842;
    background-color: #8a496b;
    background-image: none; }
  .btn-home.active {
    color: #423842;
    background-color: #8a496b;
    background-image: none; }
  .btn-home.disabled {
    background-color: #423842;
    border-color: #423842; }
    .btn-home.disabled:hover {
      background-color: #423842;
      border-color: #423842; }
    .btn-home.disabled:focus {
      background-color: #423842;
      border-color: #423842; }
    .btn-home.disabled:active {
      background-color: #423842;
      border-color: #423842; }
    .btn-home.disabled.active {
      background-color: #423842;
      border-color: #423842; }
  .btn-home .badge {
    color: #423842;
    background-color: #ffffff; }

.btn-home[disabled] {
  background-color: #423842;
  border-color: #423842; }
  .btn-home[disabled]:hover {
    background-color: #423842;
    border-color: #423842; }
  .btn-home[disabled]:active {
    background-color: #423842;
    border-color: #423842; }
  .btn-home[disabled].active {
    background-color: #423842;
    border-color: #423842; }

.navbar-default {
  background-color: #e7e2ee;
  z-index: 1;
  border-radius: 0 !important;
  border-color: transparent;
  font-size: 18px;
  font-family: Vollkorn, sans-serif; }
  .navbar-default .navbar-nav > li > a {
    color: #362f35;
    margin-left: 50px; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color: #362f35;
    color: #ffffff; }
  .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #362f35;
    color: #ffffff; }

header {
  height: 270px; }

.affix {
  position: fixed;
  top: 0;
  width: 100%; }

.affix-top {
  position: static; }

@media (min-width: 990px) {
  .sidebar.affix-top {
    position: static;
    margin-top: 25px;
    width: 225px; }
  .sidebar.affix {
    position: fixed;
    top: 25px;
    width: 225px; }
  .sidebar.affix-bottom {
    position: relative;
    top: 25px;
    width: 225px; } }

@media (max-width: 769px) {
  .navbar-header {
    float: none; }
  .navbar-left {
    float: none !important; }
  .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
    .navbar-collapse.collapse {
      display: none !important; }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; } }

.open .dropdown-toggle.btn-sample {
  color: #423842;
  background-color: #8a496b;
  background-image: none; }

fieldset[disabled] .btn-home {
  background-color: #423842;
  border-color: #423842; }
  fieldset[disabled] .btn-home:hover {
    background-color: #423842;
    border-color: #423842; }
  fieldset[disabled] .btn-home:focus {
    background-color: #423842;
    border-color: #423842; }
  fieldset[disabled] .btn-home:active {
    background-color: #423842;
    border-color: #423842; }
  fieldset[disabled] .btn-home.active {
    background-color: #423842;
    border-color: #423842; }

.btn-sample[disabled]:focus {
  background-color: #423842;
  border-color: #423842; }

.navbar-form input {
  width: auto; }

.form-inline input {
  width: auto; }
