@import url(http://fonts.googleapis.com/css?family=Quando|Vollkorn:400,400italic);
html {
  position: relative;
  min-height: 100%; }

body {
  background: #FEF6EA;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Vollkorn, sans-serif;
  margin-bottom: 40px; }

.header {
  padding-top: 120px;
  padding-bottom: 40px;
  background: #6b5c6a; }
  .header h1 {
    color: #E7E2EE;
    text-align: center; }
  .header h5 {
    color: #FEF6EA;
    max-width: 700px;
    text-align: justify;
    margin: 0 auto; }

.guide {
  padding: 0; }

.guide-info {
  padding-left: 8.33333%;
  padding-top: 100px; }

.about {
  background: #FEF6EA;
  padding: 2em;
  margin-top: 25px;
  margin-bottom: 25px; }

.about-section {
  text-align: center;
  padding: 40px; }
  .about-section p {
    margin: 0 auto;
    text-align: justify;
    padding-bottom: 20px; }
  .about-section .btn-home {
    width: 100%; }

.about-section:nth-of-type(3) {
  padding-bottom: 150px; }

.main {
  background: #FEF6EA;
  padding-top: 2em;
  margin-top: 25px;
  color: #333; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #796878;
  color: #FEF6EA;
  padding-top: 5px; }
  .footer img {
    margin-right: 5px;
    margin-bottom: 5px; }
  .footer .fa {
    margin-top: 3px; }

@media (max-width: 990px) {
  .maintitle {
    text-align: center;
    margin-left: 0;
    margin-top: 0; }
  .sidebar {
    display: none; } }

.spaaace {
  margin-bottom: -25px; }

.info {
  margin-bottom: 50px; }

.whowhatwhy {
  padding-top: 2em;
  color: #333; }

.img-thumbnail {
  margin: 10px; }

.sidebar-section {
  background-color: #dad3d9;
  padding-left: 5%;
  padding-top: 100px;
  height: 8700px; }
  @media (min-width: 992px) and (max-width: 1150px) {
    .sidebar-section {
      height: 9400px; } }
  @media (min-width: 1151px) and (max-width: 1350px) {
    .sidebar-section {
      height: 8901px; } }
  @media (max-width: 991px) {
    .sidebar-section {
      display: none; } }

h1 {
  font-family: Quando, cursive;
  font-size: 280%;
  color: #796878; }

h2 {
  font-family: Vollkorn, sans-serif;
  font-size: 240%;
  color: #796878; }

h3 {
  font-family: Vollkorn, sans-serif;
  color: #796878;
  font-size: 200%; }

h4 {
  font-family: Vollkorn, sans-serif;
  font-size: 150%;
  margin-top: -5px;
  margin-bottom: 20px; }

h6 {
  font-family: Vollkorn, sans-serif;
  letter-spacing: 2px; }

a {
  color: #423842; }
  a:hover {
    color: #aaaaaa; }
  a:focus {
    color: #aaaaaa; }

ol {
  list-style-type: katakana; }
  ol li {
    font-family: Quando;
    font-size: 16px;
    max-width: 200px;
    padding: 5px; }
  ol a:hover,
  ol a:active {
    background-color: #A674A3;
    color: #FEF6EA;
    border-radius: 3px;
    text-decoration: none;
    padding: 5px; }

.guide-link {
  color: #FEF6EA;
  font-weight: bold;
  text-decoration: underline; }

.special {
  font-size: 150%; }

.center-block {
  float: none; }

pre {
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word; }

code {
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word; }

.btn-home {
  color: #FEF6EA;
  background-color: #796878;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 5px; }
  .btn-home:hover,
  .btn-home:focus,
  .btn-home:active {
    color: #FEF6EA;
    background-color: #8a496b; }

.navbar-default {
  background-color: #E7E2EE;
  z-index: 1;
  border-radius: 0 !important;
  border-color: transparent;
  font-size: 18px;
  font-family: Vollkorn, sans-serif;
  margin-bottom: 0; }
  .navbar-default .navbar-nav > li > a {
    color: #333;
    margin-left: 50px; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color: #333;
    color: #FEF6EA; }
  .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #333;
    color: #FEF6EA; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top; }

.navbar .navbar-collapse {
  text-align: center; }

header {
  height: 270px; }

.affix {
  position: fixed;
  top: 0;
  width: 100%; }

.affix-top {
  position: static; }

@media (min-width: 990px) {
  .sidebar.affix-top {
    position: static;
    margin-top: 25px; }
  .sidebar.affix {
    position: fixed;
    top: 25px; }
  .sidebar.affix-bottom {
    position: relative;
    top: 25px; } }

@media (max-width: 769px) {
  .navbar-header {
    float: none; }
  .navbar-left {
    float: none !important; }
  .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 #FEF6EA; }
    .navbar-collapse.collapse {
      display: none !important; }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; } }

.open .dropdown-toggle.btn-sample {
  color: #796878;
  background-color: #333;
  background-image: none; }

fieldset[disabled] .btn-home {
  background-color: #796878;
  border-color: #796878; }
  fieldset[disabled] .btn-home:hover {
    background-color: #796878;
    border-color: #796878; }
  fieldset[disabled] .btn-home:focus {
    background-color: #796878;
    border-color: #796878; }
  fieldset[disabled] .btn-home:active {
    background-color: #796878;
    border-color: #796878; }
  fieldset[disabled] .btn-home.active {
    background-color: #796878;
    border-color: #796878; }

.btn-sample[disabled]:focus {
  background-color: #796878;
  border-color: #796878; }

.navbar-form input {
  width: auto; }

.form-inline input {
  width: auto; }
