//colors
$white_10: rgba(255,255,255,0.1);
$color_blue_chalk_40_approx: rgba(230,230,250,0.4);
$color_blue_chalk_approx: rgb(230,230,250);
$color_ship_gray_approx: rgb(66,56,66);
$color_ship_gray_90_approx: rgba(66,56,66,.9);
$color_serenade_approx: rgb(254,246,234);
$color_serenade_80_approx: rgba(254,246,234,.8);
$color_mine_shaft_approx: #362f35;
$old_lavender: #796878;
$color_bouquet_approx: #a674a3;
$color_suva_gray_approx: #888;
$color_bleached_cedar_approx: #302230;
$color_lola_approx: #dad1d9;
$color_ship_gray_80_approx: rgba(66,56,66,.8);
$color_cannon_pink_approx: #8a496b;
$white: #ffffff;
$color_prim_approx: #e7e2ee;
$color_emperor_approx: rgb(81,69,76);
$color_mercury_approx: #e7e7e7;

//fonts
$font_0: Vollkorn;
$font_1: sans-serif;
$font_2: Quando;
$font_3: cursive;

//urls
$url_0: url(/public/img/background.jpg);

html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: $url_0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: $font_0, $font_1;
  margin-bottom: 75px;
}
.header {
  margin-top: 60px;
  background: $color_blue_chalk_40_approx;
  font-size: 80%;
  font-weight: bold;
}
.guide {
  background: $color_blue_chalk_approx;
  background: $color_blue_chalk_40_approx;
  padding: 2em;
  margin-top: 25px;
}
.about {
  background: $color_blue_chalk_approx;
  background: $color_blue_chalk_40_approx;
  padding: 2em;
  margin-top: 25px;
}
.main {
  background: $color_ship_gray_approx;
  background: $color_ship_gray_90_approx;
  padding-top: 2em;
  margin-top: 25px;
  color: $color_serenade_approx;
  color: $color_serenade_80_approx;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $color_emperor_approx;
  color: $color_mercury_approx;
  padding-top: 5px;
  img {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .fa {
    margin-top: 3px;
  }
}
.logo-front {
  margin-bottom: 30px;
}
@media(max-width: 990px) {
  .maintitle {
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  }
  .sidebar {
    display: none;
  }
}
.spaaace {
  margin-bottom: -25px;
}
.info {
  margin-bottom: 50px;
}
.whowhatwhy {
  padding-top: 2em;
  color: $color_mine_shaft_approx;
}
.img-thumbnail {
  margin: 10px;
}
h1 {
  font-family: $font_2, $font_3;
  font-size: 280%;
  color: $old_lavender;
}
h2 {
  font-family: $font_0, $font_1;
  font-size: 240%;
  color: $old_lavender;
}
h3 {
  font-family: $font_0, $font_1;
  color: $old_lavender;
  font-size: 200%;
}
h4 {
  font-family: $font_0, $font_1;
  font-size: 150%;
  margin-top: -5px;
  margin-bottom: 20px;
}
h6 {
  font-family: $font_0, $font_1;
  letter-spacing: 2px;
}
a {
  color: $color_bouquet_approx;
  &:hover {
    color: $color_suva_gray_approx;
  }
  &:focus {
    color: $color_suva_gray_approx;
  }
}
.guide-link {
  color: $color_bleached_cedar_approx;
  font-weight: bold;
  text-decoration: underline;
}
.special {
  font-size: 150%;
}
.center-block {
  float: none;
}
pre {
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
}
code {
  white-space: pre-wrap;
  white-space: -pre-wrap;
  word-wrap: break-word;
}
.btn-home {
  color: $color_lola_approx;
  background-color: $color_ship_gray_approx;
  background-color: $color_ship_gray_80_approx;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 5px;
  &:hover {
    color: $color_ship_gray_approx;
    background-color: $color_cannon_pink_approx;
  }
  &:focus {
    color: $color_ship_gray_approx;
    background-color: $color_cannon_pink_approx;
  }
  &:active {
    color: $color_ship_gray_approx;
    background-color: $color_cannon_pink_approx;
    background-image: none;
  }
  &.active {
    color: $color_ship_gray_approx;
    background-color: $color_cannon_pink_approx;
    background-image: none;
  }
  &.disabled {
    background-color: $color_ship_gray_approx;
    border-color: $color_ship_gray_approx;
    &:hover {
      background-color: $color_ship_gray_approx;
      border-color: $color_ship_gray_approx;
    }
    &:focus {
      background-color: $color_ship_gray_approx;
      border-color: $color_ship_gray_approx;
    }
    &:active {
      background-color: $color_ship_gray_approx;
      border-color: $color_ship_gray_approx;
    }
    &.active {
      background-color: $color_ship_gray_approx;
      border-color: $color_ship_gray_approx;
    }
  }
  .badge {
    color: $color_ship_gray_approx;
    background-color: $white;
  }
}
.btn-home[disabled] {
  background-color: $color_ship_gray_approx;
  border-color: $color_ship_gray_approx;
  &:hover {
    background-color: $color_ship_gray_approx;
    border-color: $color_ship_gray_approx;
  }
  &:active {
    background-color: $color_ship_gray_approx;
    border-color: $color_ship_gray_approx;
  }
  &.active {
    background-color: $color_ship_gray_approx;
    border-color: $color_ship_gray_approx;
  }
}
.navbar-default {
  background-color: $color_prim_approx;
  z-index: 1;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0 !important;
  border-color: transparent;
  font-size: 18px;
  font-family: $font_0, $font_1;
  .navbar-nav>li>a {
    color: $color_mine_shaft_approx;
    margin-left: 50px;
  }
  .navbar-nav .open {
    .dropdown-menu>li>a {
      background-color: $color_mine_shaft_approx;
      color: $white;
    }
    .dropdown-menu {
      background-color: $color_mine_shaft_approx;
      color: $white;
    }
  }
}
header {
  height: 270px;
}
.affix {
  position: fixed;
  top: 0;
  width: 100%;
}
.affix-top {
  position: static;
}
@media(min-width: 990px) {
  .sidebar {
    &.affix-top {
      position: static;
      margin-top: 25px;
      width: 225px;
    }
    &.affix {
      position: fixed;
      top: 25px;
      width: 225px;
    }
    &.affix-bottom {
      position: relative;
      top: 25px;
      width: 225px;
    }
  }
}
@media(max-width: 769px) {
  .navbar-header {
    float: none;
  }
  .navbar-left {
    float: none !important;
  }
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 1px 0 $white_10;
    &.collapse {
      display: none!important;
    }
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
.open .dropdown-toggle.btn-sample {
  color: $color_ship_gray_approx;
  background-color: $color_cannon_pink_approx;
  background-image: none;
}
fieldset[disabled] .btn-home {
  background-color: $color_ship_gray_approx;
  border-color: $color_ship_gray_approx;
  &:hover {
    background-color: $color_ship_gray_approx;
    border-color: $color_ship_gray_approx;
  }
  &:focus {
    background-color: $color_ship_gray_approx;
    border-color: $color_ship_gray_approx;
  }
  &:active {
    background-color: $color_ship_gray_approx;
    border-color: $color_ship_gray_approx;
  }
  &.active {
    background-color: $color_ship_gray_approx;
    border-color: $color_ship_gray_approx;
  }
}
.btn-sample[disabled]:focus {
  background-color: $color_ship_gray_approx;
  border-color: $color_ship_gray_approx;
}
.navbar-form input {
  width: auto;
}
.form-inline input {
  width: auto;
}